:root {

}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'effra';
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  line-height: 1.6;
  font-size: 16px;
}

/* CUSTOMIZATION */
img {
  max-width: 100%;
  display: block;
}

button, input {
  outline: none;
  border: none;
  /* background: transparent; */
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

ul, p {
  margin: 0;
  list-style: none;

}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3 {
  font-family: 'DM Serif Display';
  margin: 0;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}


.nav-btn {
  background-color: rgb(19, 212, 125);
  color: white;
}